.result-W{
    background-color: #009F3B;
    color: #FFFFFF;
}

.result-L{
    background-color: #E00024;
    color: #FFFFFF;
}

.result-D{
    background-color: #444444;
    color: #FFFFFF;
}

.navigateTeam{
    cursor: pointer;
}