<div class="row">
  <div class="col-md-3">
      <app-leaguenav></app-leaguenav>
  </div>
  <div class="col-md-6">
    <div id="league-title" *ngFor="let info of leagueInfo">
      <img src={{info.leagueAreaFlagUrl}} height="80">
      <h1>{{info.leagueName}}</h1>
    </div>
    <div class="row">
      <a class="col-6" href="#" [routerLink]="['league-table']">
        <span id="league-table-span">Table</span>
      </a>
      <a class="col-6" href="#" [routerLink]="['league-match']">
        <span id="league-match-span">Matches</span>
      </a>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-3">
    <table>
      <tr>
        <th colspan="3">Top Scorers</th>
      </tr>
      <tr>
        <th colspan="2">Player Name</th>
        <th>Goals</th>
      </tr>
      <tr *ngFor="let scorer of topScorers">
        <td><img src={{scorer.teamCrestUrl}} height="30"></td>
        <td>{{scorer.playerName}}</td>
        <td>{{scorer.goals}}</td>
      </tr>
    </table>
  </div>
</div>
