<table class="table">
  <tr id="row-live" class="navigate-row" *ngFor="let match of liveMatches" (click)="navigateToMatch(match.matchId)">
    <td id="live-cell">LIVE</td>
    <td id="home-team-cell">{{match.homeTeamName}}</td>
    <td><img src={{match.homeTeamCrestUrl}} onError="this.src='assets/img/unknown-team-crest.png';" height="30"></td>
    <td id="score-cell">{{match.ftHomeScore}} - {{match.ftAwayScore}}</td>
    <td><img src={{match.awayTeamCrestUrl}} onError="this.src='assets/img/unknown-team-crest.png';" height="30"></td>
    <td id="away-team-cell">{{match.awayTeamName}}</td>
    <td id="date-cell">{{match.date}}</td>
  </tr>
  <tr id="row-scheduled" class="navigate-row" *ngFor="let match of scheduledMatches" (click)="navigateToMatch(match.matchId)">
    <td id="time-cell">{{match.time}}</td>
    <td id="home-team-cell">{{match.homeTeamName}}</td>
    <td><img src={{match.homeTeamCrestUrl}} onError="this.src='assets/img/unknown-team-crest.png';" height="30"></td>
    <td id="score-cell">VS</td>
    <td><img src={{match.awayTeamCrestUrl}} onError="this.src='assets/img/unknown-team-crest.png';" height="30"></td>
    <td id="away-team-cell">{{match.awayTeamName}}</td>
    <td id="date-cell">{{match.date}}</td>
  </tr>
  <tr id="row-finished" class="navigate-row" *ngFor="let match of finishedMatches" (click)="navigateToMatch(match.matchId)">
    <td id="ft-cell">FT</td>
    <td id="home-team-cell">{{match.homeTeamName}}</td>
    <td><img src={{match.homeTeamCrestUrl}} onError="this.src='assets/img/unknown-team-crest.png';" height="30"></td>
    <td id="score-cell">{{match.ftHomeScore}} - {{match.ftAwayScore}}</td>
    <td><img src={{match.awayTeamCrestUrl}} onError="this.src='assets/img/unknown-team-crest.png';" height="30"></td>
    <td id="away-team-cell">{{match.awayTeamName}}</td>
    <td id="date-cell">{{match.date}}</td>
  </tr>
</table>