<div class="row">
    <div class="col-md-6">
      <table>
        <thead>
          <tr>
            <th colspan="3">Last matches</th>
          </tr>
        </thead>
        <tbody class="navigate-tbody" *ngFor="let match of finishedMatches" (click)="navigateToMatch(match.matchId)">
          <tr>
            <td rowspan="2"><img src={{match.opponentCrestUrl}} height="80"></td>
            <td>{{match.opponentName}}</td>
            <td>{{match.ftHomeScore}} - {{match.ftAwayScore}} ({{match.homeOrAway}})</td>
          </tr>
          <tr>
            <td>{{match.competitionName}}</td>
            <td>{{match.result}} - {{match.date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table>
        <thead>
          <tr>
            <th colspan="3">Live and upcoming matches</th>
          </tr>
        </thead>
        <tbody class="navigate-tbody" *ngFor="let match of liveAndScheduledMatches" (click)="navigateToMatch(match.matchId)">
          <tr>
            <td rowspan="2"><img src={{match.opponentCrestUrl}} height="80"></td>
            <td>{{match.opponentName}}</td>
            <td>{{match.time}}</td>
          </tr>
          <tr>
            <td>{{match.competitionName}}</td>
            <td>{{match.date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  