<table class="table-striped" *ngIf="!(leagueIdsWithGroupTables.includes(leagueId))">
  <tr>
    <th>POS</th>
    <th id="team-name-label" colspan="2">Team Name</th>
    <th>MP</th>
    <th>W</th>
    <th>D</th>
    <th>L</th>
    <th>F</th>
    <th>A</th>
    <th>GD</th>
    <th>P</th>
  </tr>
  <tr *ngFor="let team of table">
    <td class="table-num">{{team.position}}</td>
    <td id="team-crest"><a href="#" [routerLink]="['/team', team.teamId]"><img src={{team.teamCrestUrl}} onError="this.src='assets/img/unknown-team-crest.png';" height="40"></a></td>
    <td id="team-name"><a href="#" [routerLink]="['/team', team.teamId]">{{team.teamName}}</a></td>
    <td class="table-num">{{team.matchPlayed}}</td>
    <td class="table-num">{{team.wins}}</td>
    <td class="table-num">{{team.draws}}</td>
    <td class="table-num">{{team.loses}}</td>
    <td class="table-num">{{team.goalsFor}}</td>
    <td class="table-num">{{team.goalsAgainst}}</td>
    <td class="table-num">{{team.goalsDifference}}</td>
    <td class="table-num" id="team-points">{{team.points}}</td>
  </tr>
</table>

<div *ngIf="leagueIdsWithGroupTables.includes(leagueId)">
  <table class="table-striped" *ngFor="let standing of groupTables">
    <tr>
      <th colspan="11">{{standing.groupName}}</th>
    </tr>
    <tr>
      <th>POS</th>
      <th id="team-name-label" colspan="2">Team Name</th>
      <th>MP</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <th>F</th>
      <th>A</th>
      <th>GD</th>
      <th>P</th>
    </tr>
    <tr *ngFor="let team of standing.table">
      <td class="table-num">{{team.position}}</td>
      <td id="team-crest"><a href="#" [routerLink]="['/team', team.teamId]"><img src={{team.teamCrestUrl}} onError="this.src='assets/img/unknown-team-crest.png';" height="40"></a></td>
      <td id="team-name"><a href="#" [routerLink]="['/team', team.teamId]">{{team.teamName}}</a></td>
      <td class="table-num">{{team.matchPlayed}}</td>
      <td class="table-num">{{team.wins}}</td>
      <td class="table-num">{{team.draws}}</td>
      <td class="table-num">{{team.loses}}</td>
      <td class="table-num">{{team.goalsFor}}</td>
      <td class="table-num">{{team.goalsAgainst}}</td>
      <td class="table-num">{{team.goalsDifference}}</td>
      <td class="table-num" id="team-points">{{team.points}}</td>
    </tr>
  </table>
</div>