<div id="sidebar">
  <nav id="league-sidebar" class="navbar bg-light navbar-light">
    <table class="leaguenav-table">
      <tr class="leaguenav-row">
        <th class="leaguenav-head">Leagues & Cups</th>
      </tr>
      <tr class="leaguenav-row" *ngFor="let competition of competitions">
        <td>
          <a class="leaguenav-cell" href="/league/{{competition.id}}">
            <img class="leaguenav-flag" src={{competition.areaFlagUrl}} height="30">{{competition.name.toUpperCase()}}
          </a>
        </td>
      </tr>
    </table>
  </nav>
</div>