<div id="main" class="row">
  <div class="col-lg-3">
    <app-leaguenav></app-leaguenav>
  </div>
  <div id="team-div" class="col-lg-9">
    <div id="team-title" *ngFor="let info of teamInfo">
      <img src={{info.teamCrestUrl}} onError="this.src='assets/img/unknown-team-crest.png';" height="200">
      <h1>{{info.teamName}}</h1>
      <img src={{info.teamAreaFlagUrl}} height="50">
      <a href="#" [routerLink]="['/league', info.primaryCompetitionId]"><h4>{{info.primaryCompetitionName}}</h4></a>
    </div>
    <div class="result-container">
      <table class="result-table">
        <tr>
          <td *ngFor="let result of recentPerformance" class="result-{{result}}">{{result}}</td>
        </tr>
      </table>
    </div>
    <div class="row">
      <a id="span-team-squad" class="team-a col-4" href="#" [routerLink]="['team-squad']" (click)="spanTeamClick('squad')">
        <span class="team-span">Squad</span>
      </a>
      <a id="span-team-position" class="team-a col-4" href="#" [routerLink]="['team-position']" (click)="spanTeamClick('position')">
        <span class="team-span">Position</span>
      </a>
      <a id="span-team-match" class="team-a col-4" href="#" [routerLink]="['team-match']" (click)="spanTeamClick('match')">
        <span class="team-span">Matches</span>
      </a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
