<div class="row">
  <div class="col-md-3">
    <app-leaguenav></app-leaguenav>
  </div>
  <div class="col-md-9">
    <div id="team-title" *ngFor="let info of teamInfo">
      <img src={{info.teamCrestUrl}} height="200">
      <h1>{{info.teamName}}</h1>
      <img src={{info.teamAreaFlagUrl}} height="60">
      <a href="#" [routerLink]="['/league', info.primaryCompetitionId]"><h3>{{info.primaryCompetitionName}}</h3></a>
    </div>
    <table>
      <tr>
        <td *ngFor="let result of recentPerformance" class="result-{{result}}">{{result}}</td>
      </tr>
    </table>
    <div class="row">
      <a class="col-4" href="#" [routerLink]="['team-squad']">
        <span id="league-table-span">Squad</span>
      </a>
      <a class="col-4" href="#" [routerLink]="['team-position']">
        <span id="league-match-span">Position</span>
      </a>
      <a class="col-4" href="#" [routerLink]="['team-match']">
        <span id="league-match-span">Matches</span>
      </a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
