<div id="main" class="row">
  <div class="col-lg-3">
    <app-leaguenav></app-leaguenav>
  </div>
  <div id="home-div" class="col-lg-9">
    <div class="row">
      <span id="span-ereyesterday" class="col span-navigate-div" (click)="spanNavigate('ereyesterday')">{{strEreyesterday}}</span>
      <span id="span-yesterday" class="col span-navigate-div" (click)="spanNavigate('yesterday')">{{strYesterday}}</span>
      <span id="span-today" class="col span-navigate-div" (click)="spanNavigate('today')">{{strToday}}</span>
      <span id="span-tomorrow" class="col span-navigate-div" (click)="spanNavigate('tomorrow')">{{strTomorrow}}</span>
      <span id="span-overmorrow" class="col span-navigate-div" (click)="spanNavigate('overmorrow')">{{strOvermorrow}}</span>
    </div>
    <div *ngFor="let date of homePageDates" class="matches-div" id="div-{{date.name}}">
      <table class="table">
        <tr class="navigate-row" *ngFor="let match of date.matches" (click)="navigateToMatch(match.matchId)">
          <td id="time-cell">{{match.time}}</td>
          <td id="home-team-cell">{{match.homeTeamName}}</td>
          <td><img src={{match.homeTeamCrestUrl}} onError="this.src='assets/img/unknown-team-crest.png';" height="30"></td>
          <td *ngIf="match.status == 'SCHEDULED'">VS</td>
          <td id="score-cell" *ngIf="match.status != 'SCHEDULED'">{{match.ftHomeScore}} - {{match.ftAwayScore}}</td>
          <td><img src={{match.awayTeamCrestUrl}} onError="this.src='assets/img/unknown-team-crest.png';" height="30"></td>
          <td id="away-team-cell">{{match.awayTeamName}}</td>
          <td id="date-cell">{{match.date}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>